{% extends "account/layout.html" %}

{% block title %}
{{super()}} | {{page | capitalize}}
{% endblock %}

{% block content %}
{% include 'projects/modal.html' %}
<div class="container">
    {% for (category, message) in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{category}} alert-dismissible bg-gradient d-flex justify-content-between rounded-0">
        <strong>{{message}}</strong>
        <button type="button" class="btn btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endfor %}
    {% if projects %}

    <div class="tools d-flex justify-content-end">
        <a href="#projectModal" role="button" class="btn btn-sm btn-outline-dark" data-bs-toggle="modal">
            <i class="fas fa-th-large"></i>
            New Project
        </a>
    </div>
    <div class="card rounded-0 border-0 shadow-sm">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-light table-striped table-hover mb-0 small">
                    <thead>
                        <th>Name</th>
                        <th>Updated At</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                        <tr>
                            <td>
                                <input type="checkbox" class="form-check-input">
                            </td>
                            <td>
                                <a href="{{url_for('project.details', project_id=project.id)}}" class="nav-link p-0">
                                    {{ project['name'] }}
                                </a>
                            </td>
                            <td>{{ project['updated_at'] }}</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if not projects %}
<a href="#projectModal" class="nav-link d-flex flex-column text-center position-absolute" style="left: 50%; top: 25%; transform: translate(-50%, 50%);" data-bs-toggle="modal" role="button" aria-controls="projectModal">
    <i class="fas fa-th-large fa-4x p-3 border text-black-50 hover:text-dark" style="border-style: dashed !important;"></i>
    New Project
</a>
{% endif %}
{% endblock %}
