.gitignore

.vscode

.env

.env.production

.env.staging

.flaskenv

/src/venv
/src/dump

/src/accounts

/src/projects

/src/php
/__pycache__

*/__pycache__

*/*/__pycache__

/blueprints/__pycache__

*/*/*/__pycache__
*.db

*.bak

*.dat
*.dir
/src/modules/account.bak
/src/modules/account.dat
/src/modules/account.dir
/src/modules/account.py